<!DOCTYPE html>
<html>
    <header>
        <div class="nav-left">
            <a href="{% url 'home' %}">ToDoList</a>
        </div>
        {% if user.is_authenticated %}
        <div class="nav-right">
            <a href="{% url 'todo_new' %}">+New ToDo</a>
        </div>
        {% endif %}
    </header>
    
    {% block content %}
    {% endblock content %}
</html>
