{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>ToDo List</h1>
    <p>Welcome to ToDo List</p>
    {% if user.is_authenticated %}
        <h3>Hi {{ user.username }}</h3> 
        <p><a href="{% url 'logout' %}">Log Out</a></p>
        <ul>
            {% for todo in object_list %}
                <li><a href="{% url 'todo_detail' todo.pk %}">{{ todo.title }}</a></li>
                <p>{{ todo.body }}</p>
                <p {% if todo.state == "In work" %} 
                        style = "color: black" 
                    {% else %} 
                        style="color: blue" 
                    {% endif %}>
                    {{ todo.date }} | {{ todo.state }}
                </p>

            {% endfor %}
        </ul>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign Up</a> 
    {% endif %}
{% endblock content %}