{% extends 'base.html' %}

{% block title %}SignUp{% endblock title %}

{% block content %}
    <h2>Sign Up</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form> 
{% endblock content %}