{% extends 'base.html' %}

{% block content %}
    <div {% if todo.state == "In work" %}
            class = "todo_entry"
         {% else %}
            class = "todo_entry_done"
         {% endif %}>
        <h2>{{ todo.title }}</h2>
        <p>{{ todo.body }}</p>
        <p>{{ todo.date }} | {{ todo.author }} | {{ todo.state }}</p>
        <p><a href="{% url 'todo_edit' todo.pk %}">+ Edit ToDo</a> | 
        <a href="{% url 'todo_delete' todo.pk %}">Delete ToDo</a></p>
    </div>
{% endblock content %}