{% extends 'base.html' %}

{% block content %}
    <h1>Delete ToDo</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ todo.title }}"?</p>
        <input type="submit" value="Delete" />
    </form>
{% endblock content %}
